
.code-output {
display: flex;
justify-content: space-between;
align-items: center;
gap: 20px;
}

.code-output pre {
width: 100vw;
padding: 20px;
background-color: #272822;
color: white;
overflow: auto;
border-radius: 8px;
}

.code-output iframe {
width: 100vw;
height: 100vh;
border: 2px solid #444;
border-radius: 8px;
background-color: white;
}
